// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#firstnamedisplay{
	font-size: 25px;
	color:red;
	font-weight: bold;
}

#instructordisplay{
	font-size: 25px;
	color:red;
}

.modaltext{
	color:white;
}


body {
	background-image:url('paper.jpg');
}

#selectbar{
	width:40%;
	display:block;
}

#editselectbar{
	margin:0 auto;
	width:25%;
}

h1 {
	text-align: center;
	font-size: 100px;
}

dd{
	font-size:35px;
}

.table{
	width:100%;
	background-color: rgba(255,255,255,0.2);
}

label{
	font-size: 23px;
}

.form-control{
	font-size:20px;
}
#nameinput{
	width:150px;
	height:30px;
}

#topicinput{
	width:150px;
	height:30px;	
}

.container {
	width:960px;
	padding:50px;
	margin:0 auto;
}

#myModal{
	background-color: rgba(0,0,0,0.2);
}

textarea {
    resize: none;
    width:96%;
}

#red{
	color:red;
}

.formtitles{
	font-size: 20px;
	text-decoration: underline;
}

.tableitem{
	border:1px solid #ddd;
	border-radius: 5px;
	background-color:(255,255,255,0.5);
	text-align: center;
}


a{
	font-size:25px;
	color:black;
}

a:hover {
	color:red;
	-webkit-transition: all 400ms;
}